.register-form-container {
    max-width: 40%;
    margin: 0 auto;
}

#alert-retype-pass {
    display: none;
}

#alert-pass {
    display: none;
}

#alert-username {
    display: none;
}

#alert-name {
    display: none;
}

#alert-address {
    display: none;
}

.alert {
    /* align-items: center; */
    text-align: center;
    max-width: 30rem;
    font-size: 14px;
}

.form-floating label {
    text-align: center;
}

body {
    background-color: #f5f5f5;
}

h1 {
    padding-top: 100px;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 30px;
}

.register-others {
    text-align: center;
}

.register-others a {
    text-decoration: none;
    color: #3b9cb7;
}

.register-form-container {
    width: 40%;
    margin: 0 auto;
    background-color: white;
}

#submit {
    width: 22rem;
    margin-top: 20px;
    padding: 12px;
    text-transform: uppercase;
    background-color: #f57224;
    font-size: 18px;
}

#submit:hover {
    background-color: #dd6720;
}

#login {
    font-size: 11px;
}

#login a {
    text-decoration: none;
    color: #3b9cb7;
}

.register-label {
    font-weight: bold;
    margin-top: 10px;
}

.form-control {
    width: 30rem;
    padding: 12px;
    height: auto;
    font-size: 14px;
    background-color: #f2f2f2;
}


