.register-form-container {
    max-width: 80%;
    margin: 0 auto;
}

.form-field {
    margin: 2rem auto;
}

#alert-retype-pass {
    display: none;
}

#alert-pass {
    display: none;
}

#alert-username {
    display: none;
}

#alert-name {
    display: none;
}

#alert-address {
    display: none;
}