*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}


button {
    display: inline-block;
}

.nav-link {
    margin-right: 1rem;
    margin-left: 1rem;
    text-transform: uppercase;
}

.navbar {
    height: 6rem;
    text-align: center;
}