body {
    background-color: #f5f5f5;
}

h1 {
    padding-top: 100px;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 30px;
}

h3:last-of-type {
    display: none;
}

#complete-order {
    width: 16rem;
    margin-top: 20px;
    padding: 12px;
    text-transform: uppercase;
    background-color: #f57224;
    border-color: #dd6720;
    font-size: 16px;
}

#complete-order:hover {
    background-color: #dd6720;
}

#continue {
    text-decoration: none;
}